<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/ronaldoslobby" version="1.0.0" viewmodes="maximized">
    <tizen:application id="p9mT00icDB.ronaldoslobby" package="p9mT00icDB" required_version="2.3"/>
    <content src="dist/index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
    <icon src="dist/icon.png"/>
    <name>ronaldoslobby</name>
    <tizen:profile name="tv-samsung"/>
    <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
